html {
    margin-right: 150px;
    margin-left: 150px;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color : orange;
    
}
h3 {
    color: brown;
}

body {
    background-color: rgb(255, 254, 221);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }